<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979037569640-hhf6k6o8hniplkve6t1jf00tdapr1j5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979037569640-hhf6k6o8hniplkve6t1jf00tdapr1j5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDkAImqyyh5DFc3p9PGmtTUKWlTyQFHNVE</string>
	<key>GCM_SENDER_ID</key>
	<string>979037569640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pcy.dolphin-stagram</string>
	<key>PROJECT_ID</key>
	<string>dolphin-stagram</string>
	<key>STORAGE_BUCKET</key>
	<string>dolphin-stagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979037569640:ios:6457d4cf90772399deb1dd</string>
	<key>DATABASE_URL</key>
	<string>https://dolphin-stagram.firebaseio.com</string>
</dict>
</plist>